body{
	font-family:arial;
}
img.tiny{
    width: 20px;
    border: solid thin grey;	
}
img.big {
    width: 200px;
    border: solid thin grey;
    position: absolute;
    right: 1ex;
    top: 1ex;
}

.properties div div{
	display:inline-block;
}
.properties div div:first-child{
	width:20ex;
}
.properties div div:last-child{
	font-weight: bold;
}
a{
	text-decoration: none;
}

ul.sort a{
    background-color: green;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    
}
ul.sort a:hover{
    background-color: green;
}
ul.coun{
    text-align: center;
    list-style-type: none;
}
.gg{
    border-style: solid 1px;
}

.nav_button{
    border:solid gray thin;
    bottom: auto;
    padding: 1ex;
    margin: 1ex;
    border-radius: 0.5ex;
    text-align: center;
    display: inline-block;
    }
